In [1]:
import os
import pandas as pd
import chardet

In [2]:
os.getcwd()

'/workspaces/Trees-and-Income'

In [3]:
# Loading data

trees = pd.read_csv('data/raw/tree-census-NYC_2015.csv')

income = pd.read_csv('data/raw/income-NYC_2015.csv')

# species = pd.read_csv('data/raw/tree-species-nyc.csv')

In [4]:
# Dealing with encoding issue in tree species data using chardet

with open('data/raw/tree-species-nyc.csv', 'rb') as f:
    result = chardet.detect(f.read())

result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [5]:
species = pd.read_csv('data/raw/tree-species-nyc.csv', encoding=result['encoding'])

In [6]:
trees.head()

,Unnamed: 0,tree_id,tree_dbh,stump_diam,status,health,spc_latin,spc_common,address,zipcode,borocode,boroname,nta_name,state,Latitude,longitude
0,0,180683,3,0,Alive,Fair,Acer rubrum,red maple,108-005 70 AVENUE,11375,4,Queens,Forest Hills,New York,40.723092,-73.844215
1,1,200540,21,0,Alive,Fair,Quercus palustris,pin oak,147-074 7 AVENUE,11357,4,Queens,Whitestone,New York,40.794111,-73.818679
2,2,204026,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,3,Brooklyn,East Williamsburg,New York,40.717581,-73.936608
3,3,204337,10,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,3,Brooklyn,East Williamsburg,New York,40.713537,-73.934456
4,4,189565,21,0,Alive,Good,Tilia americana,American linden,603 6 STREET,11215,3,Brooklyn,Park Slope-Gowanus,New York,40.666778,-73.975979

In [7]:
income.head()

,GEO_ID,zipcode,HouseholdsEstimateTotal,HouseholdsMargin of ErrorTotal,HouseholdsEstimateMedian income (dollars),HouseholdsMargin of ErrorMedian income (dollars),HouseholdsEstimateMean income (dollars),HouseholdsMargin of ErrorMean income (dollars)
0,8600000US10451,10451,18140,405,26048,2140.0,40836.0,3424.0
1,8600000US10452,10452,25432,368,24790,1337.0,36083.0,1578.0
2,8600000US10453,10453,26802,409,23095,1605.0,33354.0,1416.0
3,8600000US10454,10454,12790,247,20210,1930.0,31533.0,2272.0
4,8600000US10455,10455,14023,329,23253,1598.0,32854.0,2127.0

In [8]:
species.head()

,Scientific name,Common name,Photo,Size,Native Species,Planted in NYC streets,Edible fruit
0,Acer platanoides,Norway maple,NaN,Large,"Non-Native, Invasive[6]","Yes, Approved",No
1,Acer rubrum,Red maple,NaN,Large,Native,Yes,NaN
2,Acer saccharinum,Silver maple,NaN,Large,Native,Yes,NaN
3,Aesculus hippocastanum,Horse-chestnut,NaN,Large,Non-Native,Yes,NaN
4,Aesculus octandra,Common buckeye,NaN,Large,Native,Yes,NaN

# Cleaning trees

In [9]:
trees.columns.tolist()

['Unnamed: 0',
 'tree_id',
 'tree_dbh',
 'stump_diam',
 'status',
 'health',
 'spc_latin',
 'spc_common',
 'address',
 'zipcode',
 'borocode',
 'boroname',
 'nta_name',
 'state',
 'Latitude',
 'longitude']

In [33]:
# Renaming some columns

mapper = {
 'tree_dbh':'trunk_diam',
 'boroname':'borough',
 'nta_name':'neighborhood',
 'Latitude':'latitude'
}

trees = trees.rename(columns=mapper)

trees.head()

,tree_id,trunk_diam,stump_diam,status,health,spc_latin,spc_common,address,zipcode,borough,neighborhood,latitude,longitude
0,180683,3,0,Alive,Fair,Acer rubrum,red maple,108-005 70 AVENUE,11375,Queens,Forest Hills,40.723092,-73.844215
1,200540,21,0,Alive,Fair,Quercus palustris,pin oak,147-074 7 AVENUE,11357,Queens,Whitestone,40.794111,-73.818679
2,204026,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,Brooklyn,East Williamsburg,40.717581,-73.936608
3,204337,10,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,Brooklyn,East Williamsburg,40.713537,-73.934456
4,189565,21,0,Alive,Good,Tilia americana,American linden,603 6 STREET,11215,Brooklyn,Park Slope-Gowanus,40.666778,-73.975979

In [11]:
trees['state'].value_counts()

state
New York    683788
Name: count, dtype: int64

In [12]:
cols_to_drop = [
    'Unnamed: 0',
    'borocode',
    'state'
    ]

trees = trees.drop(cols_to_drop, axis=1)

trees.head()

,tree_id,trunk_diam,stump_diam,status,health,spc_latin,spc_common,address,zipcode,boroname,neighborhood,latitude,longitude
0,180683,3,0,Alive,Fair,Acer rubrum,red maple,108-005 70 AVENUE,11375,Queens,Forest Hills,40.723092,-73.844215
1,200540,21,0,Alive,Fair,Quercus palustris,pin oak,147-074 7 AVENUE,11357,Queens,Whitestone,40.794111,-73.818679
2,204026,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,Brooklyn,East Williamsburg,40.717581,-73.936608
3,204337,10,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,Brooklyn,East Williamsburg,40.713537,-73.934456
4,189565,21,0,Alive,Good,Tilia americana,American linden,603 6 STREET,11215,Brooklyn,Park Slope-Gowanus,40.666778,-73.975979

In [13]:
trees.shape

(683788, 13)

In [14]:
trees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tree_id       683788 non-null  int64
 1   trunk_diam    683788 non-null  int64
 2   stump_diam    683788 non-null  int64
 3   status        683788 non-null  object
 4   health        652172 non-null  object
 5   spc_latin     652169 non-null  object
 6   spc_common    652169 non-null  object
 7   address       683788 non-null  object
 8   zipcode       683788 non-null  int64
 9   boroname      683788 non-null  object
 10  neighborhood  683788 non-null  object
 11  latitude      683788 non-null  float64
 12  longitude     683788 non-null  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 67.8+ MB

datatypes look fine

In [15]:
# The first five rows have 0 for stump_diam. Data dictionary says this variable only used when status is stump. How many stumps?

trees['stump_diam'].value_counts(normalize=True).head()

stump_diam
0    0.974182
4    0.001413
5    0.001373
3    0.001139
6    0.001103
Name: proportion, dtype: float64

3% of trees are stumps. 
Should stumps count as trees?

In [16]:
trees['status'].value_counts(normalize=True)

status
Alive    0.953765
Stump    0.025818
Dead     0.020417
Name: proportion, dtype: float64

Might want to group stump and dead together in a new column?
Stump might indicate neighborhood gets more attention than dead, which indicates neglect.

# Looking at income, cleaning if needed

In [17]:
income.head()

,GEO_ID,zipcode,HouseholdsEstimateTotal,HouseholdsMargin of ErrorTotal,HouseholdsEstimateMedian income (dollars),HouseholdsMargin of ErrorMedian income (dollars),HouseholdsEstimateMean income (dollars),HouseholdsMargin of ErrorMean income (dollars)
0,8600000US10451,10451,18140,405,26048,2140.0,40836.0,3424.0
1,8600000US10452,10452,25432,368,24790,1337.0,36083.0,1578.0
2,8600000US10453,10453,26802,409,23095,1605.0,33354.0,1416.0
3,8600000US10454,10454,12790,247,20210,1930.0,31533.0,2272.0
4,8600000US10455,10455,14023,329,23253,1598.0,32854.0,2127.0

In [18]:
# Reducing to zip, number of households, and income only

cols = ['zipcode', 'HouseholdsEstimateTotal', 'HouseholdsEstimateMedian income (dollars)','HouseholdsEstimateMean income (dollars)']

income = income[cols]

mapper = {
    'HouseholdsEstimateTotal':'num_households',
    'HouseholdsEstimateMedian income (dollars)': 'median_income',
    'HouseholdsEstimateMean income (dollars)':'mean_income'
}

income = income.rename(columns=mapper)

income.head()

   zipcode  num_households median_income  mean_income
0    10451           18140         26048      40836.0
1    10452           25432         24790      36083.0
2    10453           26802         23095      33354.0
3    10454           12790         20210      31533.0
4    10455           14023         23253      32854.0

In [19]:
income.shape

(218, 4)

In [20]:
income['zipcode'].nunique()

216

In [21]:
income[income.duplicated()]

     zipcode  num_households median_income  mean_income
134    10463           27458         56482      80384.0
164    11370            8809         53427      75046.0

In [22]:
income = income.drop_duplicates()
income.shape

(216, 4)

In [23]:
# How many zip codes were in trees?

trees['zipcode'].nunique()

191

In [24]:
income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 216 entries, 0 to 217
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   zipcode         216 non-null    int64
 1   num_households  216 non-null    int64
 2   median_income   184 non-null    object
 3   mean_income     184 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 8.4+ KB

In [25]:
income = income.dropna()

In [26]:
income['median_income'] = income['median_income'].str.replace(',','')

In [27]:
income['median_income'] = income['median_income'].astype('int64')
income['mean_income'] = income['mean_income'].astype('int64')

Group trees by zip and save as new dataframe, merge with zip

# Investigating species table

In [28]:
species.head()

,Scientific name,Common name,Photo,Size,Native Species,Planted in NYC streets,Edible fruit
0,Acer platanoides,Norway maple,NaN,Large,"Non-Native, Invasive[6]","Yes, Approved",No
1,Acer rubrum,Red maple,NaN,Large,Native,Yes,NaN
2,Acer saccharinum,Silver maple,NaN,Large,Native,Yes,NaN
3,Aesculus hippocastanum,Horse-chestnut,NaN,Large,Non-Native,Yes,NaN
4,Aesculus octandra,Common buckeye,NaN,Large,Native,Yes,NaN

In [29]:
species['Common name'].value_counts()

Common name
Cherry              3
Norway maple        1
Silver maple        1
Red maple           1
Common buckeye      1
                   ..
American elm        1
Camperdown elm      1
Chinese elm         1
English elm         1
Japanese zelkova    1
Name: count, Length: 100, dtype: int64

In [30]:
species['Native Species'].value_counts()

Native Species
Non-Native                  28
Native                      13
Non-Native, Not Invasive     3
Non-Native, Invasive[6]      2
Name: count, dtype: int64

In [31]:
species['Planted in NYC streets'].value_counts()

Planted in NYC streets
Yes                  9
No, Not Approved     4
Yes, Approved        1
Yes, Not Approved    1
Name: count, dtype: int64

May want to investigate native/invasive and planted in NYC against income.
May also want to investigate species planted vs. income--are certain species often planted in certain neighborhoods?

# EDA on trees

In [32]:
trees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683788 entries, 0 to 683787
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tree_id       683788 non-null  int64
 1   trunk_diam    683788 non-null  int64
 2   stump_diam    683788 non-null  int64
 3   status        683788 non-null  object
 4   health        652172 non-null  object
 5   spc_latin     652169 non-null  object
 6   spc_common    652169 non-null  object
 7   address       683788 non-null  object
 8   zipcode       683788 non-null  int64
 9   boroname      683788 non-null  object
 10  neighborhood  683788 non-null  object
 11  latitude      683788 non-null  float64
 12  longitude     683788 non-null  float64
dtypes: float64(2), int64(4), object(7)
memory usage: 67.8+ MB

In [ ]:
trees.groupby('borough')['tree_id'].sum()

borough
Bronx             28238967369
Brooklyn          64248662833
Manhattan         13537212810
Queens           105008141453
Staten Island     38689819655
Name: tree_id, dtype: int64

Queens has the most trees

In [35]:
trees.groupby('borough')['trunk_diam'].mean()

borough
Bronx             9.693649
Brooklyn         11.738884
Manhattan         8.473641
Queens           12.557870
Staten Island    10.492746
Name: trunk_diam, dtype: float64

Queens has the biggest trees

In [36]:
trees.head()

,tree_id,trunk_diam,stump_diam,status,health,spc_latin,spc_common,address,zipcode,borough,neighborhood,latitude,longitude
0,180683,3,0,Alive,Fair,Acer rubrum,red maple,108-005 70 AVENUE,11375,Queens,Forest Hills,40.723092,-73.844215
1,200540,21,0,Alive,Fair,Quercus palustris,pin oak,147-074 7 AVENUE,11357,Queens,Whitestone,40.794111,-73.818679
2,204026,3,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,390 MORGAN AVENUE,11211,Brooklyn,East Williamsburg,40.717581,-73.936608
3,204337,10,0,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1027 GRAND STREET,11211,Brooklyn,East Williamsburg,40.713537,-73.934456
4,189565,21,0,Alive,Good,Tilia americana,American linden,603 6 STREET,11215,Brooklyn,Park Slope-Gowanus,40.666778,-73.975979

In [43]:
health_borough = trees.groupby(['borough','health'])['tree_id'].sum()

health_borough

borough        health
Bronx          Fair       3412555585
               Good      22353085313
               Poor        971780285
Brooklyn       Fair       7420972956
               Good      52140265358
               Poor       1955849892
Manhattan      Fair       2175545326
               Good      10027181604
               Poor        730880445
Queens         Fair      12050536439
               Good      84740876450
               Poor       3198738582
Staten Island  Fair       4999333720
               Good      30736493408
               Poor       1578567540
Name: tree_id, dtype: int64

Which borough has the healthiest trees?

In [44]:
status_borough = trees.groupby(['borough','status'])['tree_id'].sum()

status_borough

borough        status
Bronx          Alive     26737421183
               Dead        795811480
               Stump       705734706
Brooklyn       Alive     61517088206
               Dead       1154323126
               Stump      1577251501
Manhattan      Alive     12933607375
               Dead        338080027
               Stump       265525408
Queens         Alive     99990151471
               Dead       1787491472
               Stump      3230498510
Staten Island  Alive     37314639709
               Dead        667604094
               Stump       707575852
Name: tree_id, dtype: int64

How do the status and health columns interrelate?
Ratios of alive to dead, alive to stump, dead to stump